*.class
*~
*.iml
*.jar
*.war
*.ear
*.sw?
*.classpath
.claude
.gh-pages
.idea
docs/.hugo_build.lock
docs/public/
.pmd
.project
.settings
doc
hs_err*.log
pom.xml.versionsBackup
target
reports
Test.java
