name: API Compatibility Check
on:
  pull_request:
permissions:
  contents: read
jobs:
  api-compat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          persist-credentials: false
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: zulu
          java-version: 17
          cache: maven
      - name: Check API Compatibility
        run: mvn verify -P api-compat -DskipTests -Dgpg.skip=true
