name: API Compatibility Check
on:
  pull_request:
permissions:
  contents: read
jobs:
  api-compat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
          persist-credentials: false
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: zulu
          java-version: 17
          cache: maven
      - name: Check API Compatibility
        run: mvn verify -P api-compat -DskipTests -Dgpg.skip=true
